@use "../base";
@use "../layouts/navbar";
@use "../utils/classes";
@use "../utils/typography";
@use "../components/links";

body {
  font-family: base.$base-text-lato;
}

.home-header {
  background-color: base.$dark-black;
  block-size: 674px;
  padding-block-start: 202px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &__faded-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    inline-size: 50%;
    block-size: 100%;
    background-color: base.$dark-black;
    box-shadow: 0 0 100px 200px base.$dark-black;
  }
  &__tentacles {
    position: absolute;
    z-index: -2;
    right: 0;
    top: 0;
    inline-size: 50%;
    block-size: 100%;
    object-fit: cover;
  }
  &__container {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    color: base.$white-main;
  }
  &__surtitle {
    font-size: base.$fs-18;
    font-weight: 300;
  }
  &__title {
    font-size: base.$fs-80;
    margin-block-end: 24px;
  }
  &__subtitle {
    font-size: base.$fs-18;
    font-weight: 300;
    margin-block-end: 14px;
  }
  &__cta {
    min-inline-size: 236px;
    align-self: flex-start;
  }
  &__info {
    margin-block-start: auto;
    display: flex;
    gap: 32px;
    margin-block-end: 64px;
    &-paragraph {
      display: inline-flex;
      align-items: center;
      font-family: base.$base-text-raleway;
    }
    &-icon {
      inline-size: base.$fs-24;
      margin-inline-end: 8px;
    }
  }
}
